<section ng-controller="productsController" class="gradient-custom">
    <div class="container">
        <header class="cart-header">
            <h1>Your Shopping Cart</h1>
        </header>
        <div class="cart-container" ng-if="cart.length > 0">
            <div class="cart-card" ng-repeat="product in cart" ng-if="product">
                <img ng-src="{{product.image}}" alt="{{product.name}}" ng-if="product.image">
                <div class="cart-details">
                    <h3 ng-if="product.name">{{product.name}}</h3>
                    <p class="price" ng-if="product.price">${{product.price}}</p>
                </div>
                <div class="cart-actions">
                    <div class="cart-quantity-selector">
                        <button ng-click="decreaseQuantity(product)">-</button>
                        <span>{{product.quantity}}</span>
                        <button ng-click="increaseQuantity(product)">+</button>
                    </div>
                    <button class="btn btn-custom" ng-click="removeFromCart(product)">
                        <img src="assets/icons/deleteSvg.svg" alt="Remove">
                        Remove Item
                    </button>
                </div>
            </div>
        </div>
        <div class="empty-cart-message" ng-if="cart.length === 0">
            Your cart is empty. Start adding items!
        </div>
        <div class="cart-summary" ng-if="cart.length > 0">
            <div class="total-amount">Total: ${{totalAmount}}</div>
            <button class="place-order-button" ng-click="placeOrder()">Place Order</button>
            <button class="continue-shopping-button" ng-click="continueShopping()">Continue Shopping</button>
        </div>
    </div>
</section>