<style>
    .order-card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .order-card h3 {
        font-size: 1.2rem;
        margin: 0;
    }

    .order-card p {
        font-size: 1rem;
        color: #666;
        margin: 0;
    }

    .order-card .price {
        font-size: 1rem;
        font-weight: bold;
        margin: 0px;
    }

    .order-card .btn-custom {
        background-color: #ff7043;
        color: white;
        border-radius: 20px;
        padding: 5px 15px;
        font-size: 14px;
        border: none;
        cursor: pointer;
    }

    .order-card .btn-custom:hover {
        background-color: #e64a19;
    }

    .view-products-button {
        background-color: #ff7043;
        color: white;
        border-radius: 20px;
        padding: 10px 30px;
        font-size: 18px;
        border: none;
        cursor: pointer;
        margin: 20px auto;
        display: block;
        text-align: center;
    }

    .view-products-button:hover {
        background-color: #e64a19;
    }

    .order-items {
        margin-top: 10px;
    }

    .order-item {
        font-size: 0.9rem;
        color: #666;
    }
</style>
<section class="gradient-custom" ng-controller="ordersController">
    <div class="container py-0">
        <div class="row">
            <div class="col-12" ng-repeat="order in orders">
                <div class="order-card">
                    <div>
                        <h3>Order #{{order.orderId}}</h3>
                        <div class="order-items">
                            <p class="price">Order Items : </p>
                            <div class="order-item" ng-repeat="item in order.items">
                                {{item.name}}
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-custom" ng-click="cancelOrder(order)">Cancel Order</button>
                </div>
            </div>
        </div>
        <button class="view-products-button" ng-click="goToProducts()">Go to Products</button>
    </div>
</section>