<section class="gradient-custom">
    <div class="container py-0">
        <div class="product-container">
            <div class="product-card" ng-repeat="product in products">
                <img ng-src="{{product.image}}" alt="{{product.name}}">
                <h3>{{product.name}}</h3>
                <p class="price">${{product.price}}</p>
                <div class="div-addons" ng-if="product.addons && product.addons.length > 0">
                    <select id="addon-{{product.id}}" ng-model="product.selectedAddon"
                        ng-options="addon for addon in product.addons" class="addon-select">
                        <option value="">Select an addon</option>
                    </select>
                </div>
                <div ng-if="!product.inCart">
                    <button class="btn-custom-addToCart" ng-click="addToCart(product)">Add to Cart</button>
                </div>
                <div class="product-quantity-selector" ng-if="product.inCart ">
                    <button ng-click="decreaseQuantity(product)">-</button>
                    <span>{{product.quantity}}</span>
                    <button ng-click="increaseQuantity(product)">+</button>
                </div>
            </div>
        </div>
    </div>
</section>