<div ng-controller="navbarController">
    <nav ng-show="showNavbar" class="navbar">
        <div class="navbar-logo">
            <img src="/assets/images/logo.jpg" alt="Logo">
        </div>
        /\/\/\/\/\/\/\/\/\/\/\GoooooooooooooD FooooooooooD/\/\/\/\/\/\/\/\/\/\/\
        <ul class="navbar-list">
            <li class="navbar-item" ng-show="!isActive('/products')">
                <a ui-sref="products" class="navbar-link">Products</a>
            </li>
            <li class="navbar-item" ng-show="!isActive('/cart')">
                <a ui-sref="cart" class="navbar-link">
                    <img src="assets/icons/cart.svg" alt="Cart" class="navbar-icon">
                    
                </a>
            </li>
            <li class="navbar-item" ng-show="!isActive('/orders')">
                <a ui-sref="orders" class="navbar-link">Orders</a>
            </li>
            <li class="navbar-item">
                <button class="logout-button" ng-click="logout()">Logout</button>
            </li>
        </ul>
    </nav>
</div>