.gradient-custom {
    background: linear-gradient(to right, #FFE280, #FFAE00);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login-card {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.login-card-body {
    padding: 20px;
}

.login-heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.login-subheading {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.form-outline {
    margin-bottom: 20px;
}

.form-label {
    font-size: 1rem;
    color: var(--gray-700);
}

.form-control {
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--gray-300);
    width: 100%;
    box-sizing: border-box;
}

.form-control:focus {
    border-color: var(--primary-color);
    outline: none;
}

.login-button {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login-button:disabled {
    background-color: var(--gray-300);
    cursor: not-allowed;
}

.sign-up-link {
    color: var(--secondary-color);
    text-decoration: none;
}

.sign-up-link:hover {
    text-decoration: underline;
}

.alert-danger {
    color: var(--white);
    background-color: var(--warning-color);
    border-color: var(--warning-color);
}